.Organization {
  display: flex;
}

.Per-org {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.org-button {
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
}

.Shifts .top-field {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}